*{
	margin: 0;
	padding: 0;
}
@font-face{
	font-family: 'funte1';
	srl:url(../fuentes/SourceSansPro-Black.ttf);
}
#parte1{
	background:url(../img/par.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-size: 19px;
}

#encabezado{
	padding: 30px 70px;
	overflow: hidden;
	color: #fff;
}
#cabeza{
	float: left;
	font-family: 'funte1';
	font-size: 25px;
}
#contacto{
	float: right;
	font-size: 15px;
}
#menu{
	clear: both;
	background: rgb(0,0,0,0.9);
	padding: 0px 70px;
	overflow: hidden;
}
#menu ul{
	list-style: none;
}
#menu ul li{
	float: left;
}
#menu ul li a{
	padding:  20px;
	display: block;
	text-decoration: none;
	color: #fff;
	font-family: arial;
	font-size: 19px;
}
#menu ul li a:hover{
	background: rgb(255,94,117);
}
#slogan{
	clear: both;
	overflow: hidden;

	padding: 17.2%;
}
#slogan h1{
	color: #fff;
	text-align: center;
	font-family: 'funte1';
	font-size: 60px;
}

#parte2{
	background:url(../img/par2.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	height: 100vh;
	font-size: 19px;
}
#condetarjeta{
	overflow: hidden;
	width: 80%;
	margin: auto;
	padding-top: 15%;
}
.tarjeta{
	float: left;
	margin: 30px;
	padding: 50px;
	color: #fff;
	background: red;
	width: 20%;
	text-align: center;
}