@charset "UTF-8";

@font-face {
  font-family: "sitio-web";
  src:url("../fuentes/sitio-web.eot");
  src:url("../fuentes/sitio-web.eot?#iefix") format("embedded-opentype"),
    url("../fuentes/sitio-web.woff") format("woff"),
    url("../fuentes/sitio-web.ttf") format("truetype"),
    url("../fuentes/sitio-web.svg#sitio-web") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "sitio-web" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "sitio-web" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-whatsapp:before {
  content: "\62";
}
.icon-mail:before {
  content: "\64";
}
.icon-ubicacion:before {
  content: "\63";
}
.icon-menu:before {
  content: "\65";
}
